.grid-cards {
  height: 100%;
  @apply flex flex-col-reverse md:flex-row p-4 md:p-20 h-full gap-8 bg-white text-black;
  &__lists {
    @apply flex flex-wrap justify-center gap-4;
    &--card {
      width: 120px;
      height: 200px;
      @screen md {
        width: 160px;
        height: 220px;
      }

      @apply rounded-xl overflow-hidden p-4 flex flex-col justify-between;
      vertical-align:middle &__number {
        color: gray;
      }
      &__title {
        vertical-align: middle;
      }
    }
  }

  &__content {
    &--headline {
      font-size: 40px;
    }
    &--body-copy {
      font-size: 20px;
    }
  }
}
