.bento-cards {
  background-color: rgb(44, 40, 40);
  &__lists {
    @apply flex flex-wrap gap-6 mt-10 justify-center;

    &--card {
      @apply p-4 rounded-lg shadow-lg; /* Example styles; adjust as needed */
      border-radius: 8px;
      overflow: hidden;
      padding: 1rem;
      position: relative;
      height: 420px;
      flex: 1 1 300px;

      &-3 {
        width: 50%;
        @screen md {
        }
      }
      &-6 {
        @screen md {
          flex: 2 1 600px;
        }
      }

      &__text{
        position: relative;
        height: fit-content;
        backdrop-filter: blur(10px);
        padding: 8px;
        z-index: 1;
        border-radius: 8px;
        overflow: hidden;
        &-title,
        &-body {
          @apply relative z-10;
        }
        &-title {
          @apply font-bold text-lg mb-2;
        }
  
        &-body {
          @apply text-base mb-2;
        }

      }

      &__video{
        @apply w-full h-full object-cover left-0 top-0 absolute;
      }
    }
  }
}
