.slider-container {
  position: relative;
  width: 100vw;
  height: 60vh;
  @screen md{
    min-height: 600px;
  }
  &__text{
    @apply absolute bottom-0 md:bottom-10 z-10 max-w-full md:max-w-[80%] mx-auto text-justify text-white p-4 rounded-xl text-[18px] md:text-2xl left-0 right-0;
  }
}