.back-to-top {
  @apply cursor-pointer h-[50px] w-[50px] fixed bottom-[50px] -right-20 rounded-full bg-white text-black text-xl;
  box-shadow: 0 0 5px 0px #888;
  transition: 300ms;
  &:hover {
    @apply bg-neutral-700 text-white;
  }
  &__active {
    right: 30px;
    transition: all 400ms;
    transform: rotate(360deg);
  }
}
