.navigation {
  @apply w-full bg-gray sticky top-0 z-10;
  &__container {
    @apply flex justify-between relative mx-auto;
  }
  &__desktop{
    @apply hidden md:flex justify-between md:w-full;
  }
  &__mobile {
    @apply flex flex-wrap justify-between items-center w-full md:hidden;
    &-navigation{
      @apply flex justify-between items-center w-full;
    }
  }
  &__lists {
    @apply list-none hidden md:flex items-center;
    gap: 20px;
    height: 80px;
    &-item {
      min-width: 150px;
    }
    li {
      font-size: 18px;
      a {
        text-decoration: none;
        color: #333;
        transition: color 0.3s ease;
      }
    }
    li.active a {
      color: #32aa8d;
    }
  }
  &-mobile-navigation {
    &__lists {
      display: none;
      width: 100%;
      position: absolute;
      top: 60px;
      transition: all ease-in-out 0.5s;
      &--active {
        transition: all ease-in-out 0.5s;
        display: block;
      }
    }
    &__toggle {
      display: block;
    }
  }

  &__logo {
    @apply items-center text-black flex;
  }
}
// .navigation-mobile-navigation__lists {
//   width: 100%;
//   display: none;
// }
// .navigation-mobile-navigation__lists.is-open {
//   display: block;
// }
