.navigation {
  @apply w-full bg-gray sticky top-0 z-10;
  &__container {
    @apply flex justify-between relative container px-4 md:px-0 mx-auto;
    
  }
  &__desktop{
    @apply hidden lg:flex items-center justify-between md:w-full;
    max-width: 100% !important;
    width: 94.5% !important;
    margin: 0px auto ;
  }
  &__mobile {
    @apply flex flex-wrap justify-between items-center w-full relative lg:hidden px-4;
    height: 80px;
    &-navigation{
      @apply flex justify-between items-center w-full;
      &__lists-overlay{
        @apply flex flex-col items-start gap-4 rounded-xl bg-white p-4 text-black flex-wrap border-2 border-black;
      }
    }
  }
  &__lists {
    @apply list-none hidden md:flex items-center;
    gap: 20px;
    height: 80px;
    &-item {
      min-width: 150px;
    }
    li{
      font-size: 18px;
      padding: 8px;
      a {
        text-decoration: none;
        color: #333;
        transition: color 0.3s ease;
      }
      &:last-child{
        background: green;
        border-radius: 4px;
        a{
          color: white;
        }
      }
    }
    li.active a {
      color: #32aa8d;
    }
  }
  &-mobile-navigation {
    &__lists {
      display: none;
      width: 100%;
      position: absolute;
      top: 70px;
      transition: all ease-in-out 0.5s;
      &--active {
        transition: all ease-in-out 0.5s;
        display: block;
      }
    }
    &__toggle {
      display: block;
    }
  }

  &__logo {
    @apply items-center text-black flex;
  }
}
// .navigation-mobile-navigation__lists {
//   width: 100%;
//   display: none;
// }
// .navigation-mobile-navigation__lists.is-open {
//   display: block;
// }
