.gallery {
    @apply p-8 bg-white rounded-20;
    // background-image: url("/images/about-us.png");
    // background-size: cover;
    // background-position: center;
  &-container {
    @apply flex flex-col md:flex-row;
    gap: 2em;
    &__card {
      flex: 1;
      @screen md-max {
        flex: 1;
        min-width: 100%;
      }
      &--headline, &--subheadline {
        @apply text-center text-green-500;
      }
      &--list {
        @apply text-green-800 text-left;
      }
    }
  }
}
