.gallery {
  // @apply p-4 md:p-8 bg-white rounded-20;
  // background-image: url("/images/about-us.png");
  // background-size: cover;
  // background-position: center;
  &-container {
    @apply flex flex-col md:flex-row;
    gap: 2em;
    &__card {
      @apply rounded-20 overflow-hidden;
      flex: 1;
      &--asset{
        position: relative;
        &--headline{
          @apply text-white mt-4 p-4;
          backdrop-filter: blur(20px);
          font-size: 16px;
          line-height: 150%;
          position: absolute;
          bottom: 0;
          @screen md{
            font-size: 18px;
          }
        }
      }
      @screen md-max {
        flex: 1;
        min-width: 100%;
      }
      &--subheadline {
        margin-bottom: 12px;
        @screen md{
          margin-bottom: 20px;
        }
      }
      img, video{
        aspect-ratio: 1/1;
        object-fit: fill;
        height: 77vh !important;
        width: 100% !important;

        @media screen and (max-width: 767px) {
          aspect-ratio: 2/3;
        };
      }
      // list-style: none;
      // &--list {
      //   @apply text-green-800 text-left;
      //   display: flex;
      //   &::before {
      //     content:'-';
      //     margin-right: 8px;
      //   }
      // }
    }
  }
}
