.home {
  @apply bg-gray;

  &__hero {
    @apply bg-gray overflow-hidden relative;
    height: calc(100vh - 100px);
    border-radius: 1rem;
    color: white;
    width: 100%;
    position: relative;
    @screen md{
      border-radius: 2rem;
    }
    &__overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        font-size: 18px;
        @screen md {
          font-size: 36px;
        }
      }
    }
  }

  &__introduction {
    &__content {
      &--body-copy {
        margin-top: 2rem;
        @screen md {
          margin-top: 4rem;
        }
      }
    }
  }

  &__services {
  }

  &__contact-us {
    background-color: #fffaf2;
    height: 30vh;
    @apply h-full md:h-1/2 p-3 md:p-12 text-black flex flex-col md:flex-row items-start md:justify-between md:items-center gap-4;
    div{
      width: 100%;
    }
    iframe{
      width: 100%
    }
  }
}
