.home {
  @apply bg-gray;
  padding-left: 4rem;
  padding-right: 4rem;
  @screen md-max {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__hero {
    @apply bg-gray overflow-hidden relative;
    height: 600px;
    border-radius: 40px;
    color: white;
    @screen xxl {
      height: 800px;
    }
    &__overlay {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      p {
        font-size: 18px;
        @screen md {
          font-size: 36px;
        }
      }
    }
  }

  &__introduction {
    &__content {
      &--body-copy {
        margin-top: 2rem;
        @screen md {
          margin-top: 4rem;
        }
      }
    }
  }

  &__services {
  }

  &__contact-us {
    height: 30vh;
    @apply p-3 md:p-5 bg-white text-black;
  }
}
