.home {
  @apply bg-gray;
  padding-left: 4rem;
  padding-right: 4rem;
  @screen md-max {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__hero {
    @apply bg-gray overflow-hidden relative;
    height: 600px;
    border-radius: 40px;
    @screen xxl {
      height: 800px;
    }
    &__overlay {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      h1 {
        font-size: 52px;
      }
      p {
        font-size: 36px;
      }
    }
  }

  &__introduction {
    &__content {
      &--body-copy {
        margin-top: 2rem;
        @screen md {
          margin-top: 4rem;
        }
      }
    }
  }

  &__services {
  }
  // &__solutions,
  // &__introduction {
  //   height: 50vh;
  // }
  &__contact {
    height: 100vh;
    background-color: white;
  }
}
